#container {
  margin: auto;
  height: 50em;
  width: 50em;
}
.square {
  height: 1em;
  width: 1em;
  background: black;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
button {
  margin-left: 25%;
  height: 2em;
  width: 100em;
}
